= form_for(statute) do |f|
  - if statute.errors.any?
    #error_explanation
      %h2
        = pluralize(statute.errors.count, "error")
        prohibited this statute from being saved:
      %ul
        - statute.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :ina
    = f.text_field :ina
  .field
    = f.label :usc
    = f.text_field :usc
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit
