<p id="notice"><%= notice %></p>

<h1>Immigration and Nationality Act</h1>
<p><a href="/sections/search">Search the INA</a></p>

<table>
  <thead>
    <tr>
      <th>Ina</th>
      <th>Usc</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statutes.each do |statute| %>
      <tr>
        <td><%= statute.ina %></td>
        <td><%= statute.usc %></td>
        <td><%= link_to statute.title, statute %></td>
      </tr>
    <% end %>
  </tbody>
</table>
