%p#notice= notice
%h1
  Immigration and Nationality Act (INA) Section #{@statute.ina} (USC Section #{@statute.usc})
%h2= @statute.title
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Index', statutes_path
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Previous', @statute.prev
  %button.btn.btn-secondary{:type => "button"}= link_to 'Next', @statute.next
%legislation
  - @statute.sections.each do |section|
    %p{:class => "level-#{section.level}"}
      - unless section.citation.nil?
        = section.fullcite
      = section.content
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Index', statutes_path
.btn-group{:role => "group"}
  %button.btn.btn-secondary{:type => "button"}= link_to 'Previous', @statute.prev
  %button.btn.btn-secondary{:type => "button"}= link_to 'Next', @statute.next
