= form_for(section) do |f|
  - if section.errors.any?
    #error_explanation
      h2
        = pluralize(section.errors.count, "error")
        | prohibited this section from being saved:
      ul
        - section.errors.full_messages.each do |message|
          li= message
  .field
    = f.label :citation
    = f.text_field :citation
  .field
    = f.label :section
    = f.number_field :section
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :ina
    = f.text_field :ina
  .field
    = f.label :usc
    = f.text_field :usc
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit
