<p id="notice"><%= notice %></p>

<h1>Sections</h1>
<%= will_paginate @sections %>
<table>
  <thead>
    <tr>
      <th>Citation</th>
      <th>Section</th>
      <th>Level</th>
      <th>Ina</th>
      <th>Usc</th>
      <th>Content</th>
      <th>Fullcite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.citation %></td>
        <td><%= section.section %></td>
        <td><%= section.level %></td>
        <td><%= section.ina %></td>
        <td><%= section.usc %></td>
        <td><%= section.content %></td>
        <td><%= section.fullcite %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sections %>
<br>

<%= link_to 'New Section', new_section_path %>
