%p#notice= notice
%h1 Sections
= will_paginate @sections
%table
  %thead
    %tr
      %th Citation
      %th Section
      %th Level
      %th Ina
      %th Usc
      %th Content
      %th Fullcite
      %th{:colspan => "3"}
  %tbody
    - @sections.each do |section|
      %tr
        %td= section.citation
        %td= section.section
        %td= section.level
        %td= section.ina
        %td= section.usc
        %td= section.content
        %td= section.fullcite
        %td= link_to 'Show', section
        %td= link_to 'Edit', edit_section_path(section)
        %td= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' }
= will_paginate @sections
%br/
= link_to 'New Section', new_section_path
