<h1>Search the INA</h1>
<p id="notice"><%= notice %></p>

<%= form_tag(sections_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>