%h1 Immigration and Nationality Act
%table
  %thead
    %tr
      %th Ina
      %th Usc
      %th Title
      %th{:colspan => "3"}
  %tbody
    - @statutes.each do |statute|
      %tr
        %td= statute.ina
        %td= statute.usc
        %td= link_to statute.title, statute
