<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
<% end %>

<h1><%=raw @page.title %></h1>

<p><%=raw @page.content %></p>

<% if logged_in? %><%= link_to 'Edit', edit_page_path(@page) %><% end %>
