= form_for(resource) do |f|
  - if resource.errors.any?
    #error_explanation
      %h2
        = pluralize(resource.errors.count, "error")
        prohibited this resource from being saved:
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.trix_editor :content
  .field
    = f.label :original
    = f.text_field :original
  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.submit
