<%= form_for(resource) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.trix_editor :content %>
  </div>

  <div class="field">
    <%= f.label :original %>
    <%= f.text_field :original %>
  </div>

  <div class="field">
    <%= f.label :file %>
	  <%= f.file_field :file  %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
