p#notice= notice
h1 Resources
table
  thead
    tr
      th Title
      th Original
      th Url
      th colspan="3" 
  tbody
    - @resources.each do |resource|
      tr
        td= resource.title
        td= resource.original
        td
          a href="#{resource.url}"  Download
        td= link_to 'Show', resource
        td= link_to 'Edit', edit_resource_path(resource)
        td= link_to 'Destroy', resource, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Resource', new_resource_path
