<p id="notice"><%= notice %></p>

<h1><%= @resource.title %></h2>

<p><%=raw @resource.content %></p>

<p>Source: <%= @resource.original %></p>

<p>Download: <a href="<%= @resource.url %>"><%= @resource.title %></a></p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
