p#notice= notice
h1
  = @resource.title
p= raw @resource.content
p
  | Source: #{@resource.original}
p
  | Download:
  a href="#{@resource.url}" = @resource.title
= link_to 'Edit', edit_resource_path(@resource)
| \
= link_to 'Back', resources_path
