//smaller than 544px or not regulated by media query

legislation {
    .level-2 {padding-left: 20px;}
    .level-3 {padding-left: 40px;}
    .level-4 {padding-left: 60px;}
    .level-5 {padding-left: 80px;}
    .level-6 {padding-left: 100px;}
    .level-7 {padding-left: 120px;}
    .level-8 {padding-left: 140px;}
    .level-9 {padding-left: 160px;}
    .level-10 {padding-left: 180px;}
    p {margin: 15px 0px 15px 0px;}
}

  h1 {font-size: 21px;}
  h2 {font-size: 19px;}
  h3 {font-size: 17px;}
  h4 {font-size: 15px;}
  h5 {font-size: 13px;}
  h6 {font-size: 11px;}

//Media Queries
@media (min-width: 544px) {
  h1 {font-size: 21px;}
  h2 {font-size: 19px;}
  h3 {font-size: 17px;}
  h4 {font-size: 15px;}
  h5 {font-size: 13px;}
  h6 {font-size: 11px;}
}
@media (min-width: 768px) {
  h1 {font-size: 26px;}
  h2 {font-size: 23px;}
  h3 {font-size: 20px;}
  h4 {font-size: 18px;}
  h5 {font-size: 16px;}
  h6 {font-size: 14px;}
}
@media (min-width: 992px) {
  h1 {font-size: 30px;}
  h2 {font-size: 27px;}
  h3 {font-size: 24px;}
  h4 {font-size: 21px;}
  h5 {font-size: 18px;}
  h6 {font-size: 15px;}
}